<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>Medicine Details</h1></center>
<table border="3">
    <tr>
        <th>Company</th>
        <th>Medicine Name</th>
        <th>Which type of Medicine</th>
        <th>Medicine Description</th>
        <th>Buying Price</th>
        <th>Selling Price</th>
        <th>Batch No</th>
        <th>Shelf No or Rack No</th>
        <th>Manufacture Date</th>
        <th>Expire Date</th>
        <th>Combination of Drag Administration Number</th>
        <th>Manufacturing Licence Number</th>
        <th>How many pieces of medicine are in stock</th>
        <th>Update or Delete Information</th>
    </tr>
    {% for medicine in medicine_list %}
        <tr>
            <td>
                {{ medicine.company_id }}
            </td>
            <td>{{ medicine.name }}</td>
            <td>{{ medicine.m_type }}</td>
            <td>{{ medicine.des }}</td>
            <td>{{ medicine.buy_price }}</td>
            <td>{{ medicine.unit_price }}</td>
            <td>{{ medicine.b_no }}</td>
            <td>{{ medicine.s_no }}</td>
            <td>{{ medicine.mfg_date }}</td>
            <td>{{ medicine.expire_date }}</td>
            <td>{{ medicine.dar_no }}</td>
            <td>{{ medicine.mfg_Lic }}</td>
            <td>{{ medicine.total_quantity }}</td>
         <td>
                <a href="{% url 'medicine:employee_update_medicine' pk=medicine.pk %}">Update</a>
                /<a href="{% url 'medicine:employee_delete_medicine' pk=medicine.pk %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>