<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-inline" method="GET">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
<center>
{% if search %}
        <h4> Medicine Details</h4>
        <table border="3">
            <tr>
                <th>Medicine Name</th>
                <th>Medicine Price</th>
                <th>Available in stock</th>
                <th>Batch No</th>
                <th>Shelf No or Rack No</th>
                <th>Expire Date</th>
            </tr>
            {% for medicine in result %}
                    <tr>
                        <td>{{ medicine.name }}</td>
                        <td>{{ medicine.s_price }}</td>
                        <td>{{ medicine.total_medicine_in_stock }}</td>
                        <td>{{ medicine.b_no }}</td>
                        <td>{{ medicine.s_no }}</td>
                        <td>{{ medicine.expire_date }}</td>
                    </tr>
         {% endfor %}
        </table>
{% else %}

{% endif %}
</center>
</body>
</html>