{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <h3>Please Login</h3>
    <form action="{% url 'App_Login:user_login' %}" method="POST">
     {% csrf_token %}
    <label for="username">UserName:</label>
    <input type="text" name="username" placeholder="Enter your username .." required class="form-control">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter your password" required class="form-control"><br>
    <input type="submit" name="submit" value="Login" class="btn btn-primary btn-sm">
    </form>
{% endblock %}