{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block css_block %}
    <style>
    .sign_up{
        width: 500px;
        border: 1px solid #ccc;
        padding: 50px;
    }
    .log_in{
        width: 400px;
        border: 1px solid #ccc;
        padding: 5px;
    }
    </style>
{% endblock %}
{% block body_block %}
<center>
<br>
<div class="sign_up">
{% if registered %}
<div class="alert alert-success">Congratulations! Registration Successful!!</div>
{% else %}
<h3>Pharmacy Manager Register Here.</h3><br><br>
<form enctype="multipart/form-data" method="POST">
   {% csrf_token %}
  {{ user_form|crispy }}
  {{ manager_info_form|crispy }}
  <input type="submit" name="submit" value="Register" class="btn btn-primary btn-sm">
</form>
{% endif %}
</div>
        <br>
    <div class="log_in">
        <p>Already have an account? <a href="{% url 'App_Login:login' %}" class="btn btn-success btn-sm">Login</a></p>
    </div>
     <br>
</center>
{% endblock %}