<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <a href="{% url 'App_Login:manager_profile' %}"><h2>Profile</h2></a>
<a href="{% url 'medicine:manager_add_company' %}"><h2>Add Company<</h2></a>
<a href="{% url 'medicine:manager_company_view' %}"><h2>Company View</h2></a>
 <a href="{% url 'medicine:manager_search_company' %}"><h2>Search View</h2></a>
 <a href="{% url 'medicine:manager_medicine_view' %}"><h2>View Medicine</h2></a>
 <a href="{% url 'medicine:manager_add_medicine' %}"><h2>Add Medicine</h2></a>
 <a href="{% url 'medicine:manager_search_medicine' %}"><h2>Search Medicine</h2></a>
 <a href="{% url 'medicine:manager_view_expire_date' %}"><h2>Expire Date Medicine</h2></a>
<a href="{% url 'App_Login:logout' %}"><h2>Logout</h2></a>
</body>
</html>