<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>Employee Details</h1></center>
<div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <p>Total Employee:{{ employee_obj }}</p>
              </div>
            </div>
</div>
<table border="3">
    <tr>
        <th>Employee Name</th>
        <th>Employee Phone Number</th>
        <th>Employee Address</th>

    </tr>
    {% for obj in employee %}
        <tr>
            <td>
                {{ obj.name }}
            </td>
            <td>{{ obj.contact }}</td>
            <td>{{ obj.address }}</td>

        </tr>
    {% endfor %}
</table>
</body>
</html>